
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    
    
        
    
        
    <header style="border: solid rgba(255, 60, 0, 0.925); height: 40px;">
        <a href=""> enlace aqui #1</a>
        <a href=""> enlace aqui #2</a>
        <a href=""> enlace aqui #3</a>
    </header>
    <body>
        <h1>contenido #1</h1>
        <div class="grid-x">
            <div class="cell callout success">
                <h5> this is callout</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis optio esse quis ducimus cum maxime nihil minima, praesentium architecto distinctio tempore temporibus blanditiis sit possimus similique molestias mollitia rerum voluptatibus.</p>
                <a href="#"> link aqui</a>
            </div>
        </div>
    </body>
    <footer style="background:rgba(0, 255, 98, 0.767);">
        <ul class="vertical medium-horizontal menu">
            <li><a href="#0"><i class="fi-list"></i><span>one</span></a></li>
            <li><a href="#0"><i class="fi-list"></i><span>two</span></a></li>
            <li><a href="#0"><i class="fi-list"></i><span>three</span></a></li>
            <li><a href="#0"><i class="fi-list"></i><span>four</span></a></li>
        </ul>

    </footer>
    
</body>
</html>