<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>new departamento</h1>
    <form method="post">{% csrf_token %}
        <h3>datos del empleado</h3>
        <p>
            {{form.nombre}}
            {{form.apellido}}
        </p>
        <h3>datos del departamento</h3>
        <p>
            {{form.departamento}}
        
            {{form.shortname}}
        </p>
        
        <button type="submit">save</button>
    
    </form>
</body>
</html>