{% extends 'base.html' %}
{% load static %}

{% block titulo %}
register departamento
{% endblock titulo %}



{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <h3 class="cell">new departamento</h3>
    <div class="grid-x grid-margin-x">
        <form class="grid-x callout secondary grid-padding-x" method="post">{% csrf_token %}
            <h5 class="cell">Lider de departamento</h5>
            <div class="medium-6 cell">
                <label> first_name: 
                    {{form.nombre}}        
                </label>
            </div>
            <div class="medium-6 cell">
                <label>last_name:
                    {{form.apellido}}        
                </label>
            </div>
            <h5 class="cell">datos del departamento</h5>
            <div class="medium-6 cell">
                <label>departamento:
                    {{form.departamento}}        
                </label>
            </div>
            <div class="medium-6 cell">
                <label>nick:
                    {{form.shortname}}
                </label>
            </div>
            <button type="submit" class="medium-12 cell success button">save</button>

        </form>
    </div>
</div>



{% endblock content %}