{% extends 'base.html' %}
{% load static %}


{% block titulo %}
borrar empleado
{% endblock titulo %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">

    <div class="grid-x grid-margin-x">
        <h3 class="cell">Eliminar empleado</h3>
        <form class="cell" method="post">{% csrf_token %}
            <div class="callout">
                <h5 >¿esta seguro de eliminar el empleado?</h5>
                <button class="submit alert button" type="submit">Confirmar
                </button>
            </div>
        </form>

    </div>

</div>


{% endblock content %}