{% extends 'base.html' %}
{% load static %}




{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-margin-x">
        <div class="card" style="width: 300px; ">
            <div class="card-divider" style="background: rgb(20, 180, 220);">
                <p>{{empleado.first_name}} {{empleado.last_name}}</p>
            </div>
            <img src="{{empelado.avatar}}">
            <div class="card-section">
                <h4> {{empleado.departamento}}</h4>
                <p>
                    {{empleado.historia}}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}