{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Modificar empleado
{% endblock titulo %}


{% block content %}
{% include 'includes/header.html' %}


<div class="grid-container">
    <div class="grid-x ">
        <h3 class="cell">modificar empleado</h3>
        <div class="cell">
            <form class="grid-x grid-margin-x " method="post">{% csrf_token %}
                <div class="cell medium-6">
                    <label>first_name:
                        {{form.first_name}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>last_name:
                        {{form.last_name}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>jobs:
                        {{form.jobs}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>departamento:
                        {{form.departamento}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>avatar:
                        {{form.avatar}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>skills:
                        {{form.habilidades}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        <h6>
                            historia:
                        </h6>
                        {{form.historia}}
                    </label>
                </div>
                <div class="cell">
                    <button class="submit success button" type="submit" [disabled]="!form.form.valid">
                        Guardar
                    </button>
                </div>

        </div>
    </div>

    </form>

</div>

</div>

</div>
{% endblock content %}