<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de cargos</title>
</head>
<body>
    <h1>
        Acá estan listados los cargos de los empleados
    </h1>
    

    <ul>
        
        {% for j in  object_list %}
            <li>
                {{j}}
            </li>
        {% endfor %}
            
    </ul>

</body>
</html>