{% extends 'base.html' %}
{% load static %}


{% block titulo %}
listado de empleados
{% endblock titulo %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell"> Lista de empleados</h1>
        <form class="cell grid-x grid-margin-x" method="get">{% csrf_token %}
            <div class="cell large-7">
                <input type="text" placeholder="buscar empleado" id="kword" name="kword">
            </div>
            <div class="cell large-1">
                <button class="submit success button" type="submit">buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>Nombres</th>
                        <th width="150">Departamento</th>
                        <th width="150">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in object_list %}
                    <tr>
                        <td>{{empleado.id}}</td>
                        <td>{{empleado.first_name}}</td>
                        <td>{{empleado.departamento}}</td>
                        <td>
                            <button class="hollow button success" href="#">edit</button>
                            <button class="hollow button alert" href="#">delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



</div>



{% endblock content %}